<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../layui/css/layui.css"  media="all">
</head>
<body>
    <div style="width: 1400px;margin: 0 auto;">
        <div class="layui-col-md6" >
            <div class="layui-card">
                <div class="layui-card-body">
                    <form class="layui-form layui-form-pane" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">系统编号:</label>
                            <div class="layui-input-inline">
                                <input type="text" name="sysnumber"  lay-verify="required" autocomplete="off" class="layui-input sysnumber" readonly>
                            </div>
                        </div>
                        <hr>
                        <div class="layui-form-item">
                            <label class="layui-form-label">姓   名:</label>
                            <div class="layui-input-inline">
                                <input type="text" name="username" lay-verify="required" autocomplete="off" class="layui-input username" readonly>
                            </div>
                        </div>
                        <hr>
                        <div class="layui-form-item">
                            <label class="layui-form-label">性    别:</label>
                            <div class="layui-input-inline">
                                <input type="text" name="sex" lay-verify="required" autocomplete="off" class="layui-input sex" readonly>
                            </div>
                        </div>
                        <hr>
                        <div class="layui-form-item">
                            <label class="layui-form-label">对方姓名:</label>
                            <div class="layui-input-inline">
                                <input type="text" name="theName" lay-verify="required" autocomplete="off" class="layui-input theName" readonly>
                            </div>
                        </div>
                        <hr>
                        <label>直系、三代内旁系血亲关系:</label>
                    </form>
                </div>
            </div>
        </div>
        <div class="layui-col-md6" style="height: 400px;">
            <div class="layui-card">
                <div class="layui-card-body" style="margin-top: 80px ;margin-left: 300px;">
                    <img src="../../images/1.png" width="100px" height="100px">
                </div>
            </div>
        </div>
        <div class="layui-col-md6" style="width: 100%;margin-bottom: 50px;border: #93D1FF 1px solid">
            <div class="layui-card">
                <div class="layui-card-header" style="background-color: #93D1FF">婚前医学检查结果</div>
                <div class="layui-card-body">
                    <div style="width: 300px">
                        <form class="layui-form layui-form-pane" action="">
                            <div class="layui-form-item" pane="" style="width: 240px;height: 40px;">
                                <div>
                                    <div><input type="radio" name="f" checked="" lay-filter="f" class="nof" value="未见异常"></div>
                                    <div class="layui-input-inline" style="position:absolute; margin-top: -35px;margin-left: 51px;">
                                        <input type="text" name="nounusual" lay-verify="required" autocomplete="off" class="layui-input" readonly value="未见异常" style="height: 42px">
                                        <input type="hidden" class="hiddemsex" th:value="${sex}">
                                    </div>
                                </div>
                                <div style="position: absolute;margin-top: -35px;margin-left: 650px;">
                                    <div style="border: 1px #beceeb solid;height: 40px;"><input type="radio" name="f" lay-filter="f" class="isf" value="存在异常，描述如下："></div>
                                    <div class="layui-input-inline" style="position:absolute; margin-top: -42px;margin-left: 51px;">
                                        <input type="text" name="nounusual" lay-verify="required" autocomplete="off" class="layui-input" readonly value="存在异常，描述如下：" style="height: 42px">
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="layui-form-item layui-form-text" style="margin-left: -110px;">
                        <div class="layui-input-block">
                            <textarea placeholder="请输入内容" class="layui-textarea tayic" readonly></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6" style="width: 100%; border: #93D1FF 1px solid;height: 100%;">
            <div class="layui-card">
                <div class="layui-card-header" style="background-color: #93D1FF">医学意见</div>
                <div class="layui-card-body">
                    <form class="layui-form layui-form-pane" action="">
                        <div class="layui-form-item" pane="" style="width: 240px;height: 40px;">
                            <div>
                                <div><input type="radio" name="f" checked="" lay-filter="f" class="nof"></div>
                                <div class="layui-input-inline" style="position:absolute;margin-top: -35px;margin-left: 51px;width: 600px;">
                                    <input type="text" name="nounusual" lay-verify="required" autocomplete="off" class="layui-input" readonly value="未发现医学上不宜结婚的情形" style="height: 42px">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item" pane="" style="width: 240px;height: 40px;">
                            <div>
                                <div><input type="radio" name="f" checked="" lay-filter="f" class="nof"></div>
                                <div class="layui-input-inline" style="position:absolute;margin-top: -35px;margin-left: 51px;width: 600px;">
                                    <input type="text" name="nounusual" lay-verify="required" autocomplete="off" class="layui-input" readonly value="建议暂缓结婚" style="height: 42px">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item" pane="" style="width: 240px;height: 40px;">
                            <div>
                                <div><input type="radio" name="f" checked="" lay-filter="f" class="nof"></div>
                                <div class="layui-input-inline" style="position:absolute;margin-top: -35px;margin-left: 51px;width: 600px;">
                                    <input type="text" name="nounusual" lay-verify="required" autocomplete="off" class="layui-input" readonly value="建议不宜生育" style="height: 42px">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item" pane="" style="width: 240px;height: 40px;">
                            <div>
                                <div><input type="radio" name="f" checked="" lay-filter="f" class="nof"></div>
                                <div class="layui-input-inline" style="position:absolute;margin-top: -35px;margin-left: 51px;width: 600px;">
                                    <input type="text" name="nounusual" lay-verify="required" autocomplete="off" class="layui-input" readonly value="建议不宜结婚" style="height: 42px">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item" pane="" style="width: 240px;height: 40px;">
                            <div>
                                <div><input type="radio" name="f" checked="" lay-filter="f" class="nof"></div>
                                <div class="layui-input-inline" style="position:absolute;margin-top: -35px;margin-left: 51px;width: 600px;">
                                    <input type="text" name="nounusual" lay-verify="required" autocomplete="off" class="layui-input" readonly value="建议采取医学措施，尊重受检者意愿" style="height: 42px">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="layui-btn-group" style="width:100%;margin-left: 42%;margin-top: 20px;margin-bottom: 40px;">
            <button type="button" class="layui-btn">保存</button>
            <button type="button" class="layui-btn ">重置</button>
            <button type="button" class="layui-btn">打印预览</button>
        </div>
    </div>
    <script src="../../layui/layui.js" charset="utf-8"></script>
    <script>
        var newlyID=localStorage.getItem("id");
        layui.use(['form', 'layedit', 'laydate','jquery'], function(){
            var form = layui.form
                ,layer = layui.layer
                ,layedit = layui.layedit
                ,$ = layui.$
                ,laydate = layui.laydate;
            form.on('radio(f)', function(data){
                var val=$('input:radio[name="f"]:checked').val();
                if (val=='未见异常'){
                    $('.tayic').attr('readonly', 'readonly');
                    $(".tayic").val("");
                }
                if (val=='存在异常，描述如下：'){
                    $('.tayic').removeAttr('readonly');

                }
            });
            $(function () {
                var sexs=$('.hiddemsex').val();
                if (sexs=='nv'){
                    $.ajax({
                        type: "GET",//请求类型
                        url: "../Getbc.id",//请求的url
                        data: {ID: newlyID},//请求参数
                        dataType: "json",//ajax接口（请求url）返回的数据类型
                        success: function (data) {//data：返回数据（json对象）
                            console.log(data)
                            $('.sysnumber').val(data.ID)
                            $('.username').val(data.fname)
                            $('.sex').val('女')
                            $('.theName').val(data.mname)
                        },
                        error: function (data) {//当访问时候，404，500 等非200的错误状态码
                            layer.msg("页面错误")
                        }
                    })
                }
                if (sexs=='nan'){
                    $.ajax({
                        type: "GET",//请求类型
                        url: "../Getbc.id",//请求的url
                        data: {ID: newlyID},//请求参数
                        dataType: "json",//ajax接口（请求url）返回的数据类型
                        success: function (data) {//data：返回数据（json对象）
                            console.log(data)
                            $('.sysnumber').val(data.ID)
                            $('.username').val(data.mname)
                            $('.sex').val('男')
                            $('.theName').val(data.fname)
                        },
                        error: function (data) {//当访问时候，404，500 等非200的错误状态码
                            layer.msg("页面错误")
                        }
                    })
                }


            })
        });

    </script>
</body>
</html>
